@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.siteCard {
  display: flex;
  align-items: center;
  width: fit-content;
}

.siteFavicon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.siteName {
  width: 111px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--text-primary);
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}