.toggle {
  width: 25px;
  height: 15px;
  border-radius: 8px;
  background-color: var(--toggle-bg);
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggleOn {
  background-color: #34c759;
}

.toggleOff {
  background-color: var(--toggle-bg);
}

.toggleCircle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 2px;
}

.toggleOn .toggleCircle {
  transform: translateX(9px);
}

.toggleOff .toggleCircle {
  transform: translateX(0);
}