.toggle {
    width: 25px;
    height: 15px;
    border-radius: 8px;
    background-color: #e9e9ea;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-on {
    background-color: #34c759;
  }
  
  .toggle-off {
    background-color: #e9e9ea;
  }
  
  .toggle-circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 2px;
  }
  
  .toggle-on .toggle-circle {
    transform: translateX(9px);
  }
  
  .toggle-off .toggle-circle {
    transform: translateX(0);
  }
  