/* font.css */

/* Define custom variables for font-variation-settings */
:root {
  /* Base font family */
  --font-family-roboto: 'Roboto Flex', sans-serif;

  /* Font settings */
  --font-weight: 780; /* Adjusted weight as per the suggestion */
  --font-style: italic;
  --font-stretch: 25%; /* Adjusted to percentage value */

  /* Font-variation-settings */
  --font-grad: -113;   /* Grade */
  --font-slnt: -10;    /* Slant */
  --font-xopq: 86;     /* Thick stroke */
  --font-yopq: 92;
  --font-xtra: 440;    /* Counter width */
  --font-ytuc: 712;
  --font-ytlc: 570;
  --font-ytas: 786;    /* Ascender height */
  --font-ytde: -203;
  --font-ytfi: 788;
  --font-opsz: 16;     /* Optical size */
}

/* Font-face definition for Roboto Flex with variation settings */
@font-face {
  font-family: 'Roboto Flex';
  src: url("../../../public/fonts/RobotoFlex.woff2") format("woff2-variations");
  font-weight: var(--font-weight);
  font-stretch: var(--font-stretch);
  font-style: var(--font-style);
  font-variation-settings: 
    "wdth" 25,        /* Width value to make it condensed */
    "GRAD" var(--font-grad),
    "slnt" var(--font-slnt),
    "XOPQ" var(--font-xopq),
    "YOPQ" var(--font-yopq),
    "XTRA" var(--font-xtra),
    "YTUC" var(--font-ytuc),
    "YTLC" var(--font-ytlc),
    "YTAS" var(--font-ytas),
    "YTDE" var(--font-ytde),
    "YTFI" var(--font-ytfi),
    "opsz" var(--font-opsz);
}
